<tr>
  <td><%= user.client_id %></td>
  <td>
  <%= user.first_name %>
  <%= user.last_name %>
  </td>
  <td><%= user.adress %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= link_to "Show", user, class:"btn btn-primary mb-2" %></td>
</tr>





  